In my spare time I attempt to arrange, record, and mix music. Have a listen!
<br>
<br>


<% @songs.each do | song | %>
<%= "<strong> " +  song.title  + " ("+ song.date + ")"+ " </strong>"%>
<%= "<br>" %> 
<%= "<audio controls>" %>
<%= "<source src=\"" %>
<%= song.url %>
<%="\" type=\"audio/mpeg\"> " %>
<%="Your browser does not support the audio element.%>
<%="</audio>"%>
<%= "<br><br>" %>
<% end %>



<br>
During the 2011-2012 school year, I was a member and a director of a co-ed a cappella group (<a href="http://acamazing.ucsd.edu/">Acamazing</a>) which I helped found in 2010. The following are performances during my tenure as director of which several pieces I arranged. 

<br>
<br>
<br>

<p>
<strong>Absolutely (Story of a Girl) </strong> - <i>Nine Days</i>
</p>

<iframe width="560" height="315" src="http://www.youtube.com/embed/XVhXE49LekE" frameborder="0" allowfullscreen></iframe>


<br>
<br>

<p>
<strong>Breathe </strong>- <i>Michelle Branch</i>
</p>
<iframe width="560" height="315" src="http://www.youtube.com/embed/Pzc2V4rjuI0" frameborder="0" allowfullscreen></iframe>

<br>
<br>

<p>
<strong>Mercy </strong>- <i>Duffy</i>
</p>
<iframe width="560" height="315" src="http://www.youtube.com/embed/j5kNVfkGUpQ" frameborder="0" allowfullscreen></iframe>
